<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NotFood</title>
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'notfood/' %}css/style.css">
</head>

<body>
    <header class="navbar">
        <img src="https://cdn-icons-png.flaticon.com/512/846/846457.png" alt="logo" class="logo">
        <ul class="navbar-menu">
            <li class="item"><a href="">aaaaa</a></li>
            <li class="item"><a href="">bbbbb</a></li>
            <li class="item"><a href="">ccccc</a></li>
            <li class="item"><a href="">ddddd</a></li>
        </ul>
    </header>
    <div class="main-content">
        {% block contenido %}
        {% endblock %}
    </div>
    <footer>
        <section class="footer-row">
            <div class="footer-text">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                    with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                    publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <div class="footer-menu">
                <ul class="footer-links">
                    <li class="item-footer"><a href="">menu</a></li>
                    <li class="item-footer"><a href="">menu2</a></li>
                    <li class="item-footer"><a href="">menu4</a></li>
                    <li class="item-footer"><a href="">menu8745</a></li>
                </ul>
            </div>
        </section>
    </footer>
</body>

</html>