{% extends 'notfood/base.html' %}
{% load static %}
{% block contenido %}
<div class="catalogo">
{% for p in Productos %}
    <div class="contenedor-producto">
        <img class="img-producto" src="{{p.foto.url}}" alt="imagen-producto">
        <div class="descripcion-producto">   
            <h5 class="tipo-producto">{{p.tipo}}</h5>
            <h3 class="title-producto">{{p.nombre}}</h3>
            <h5 class="precio-producto">{{p.precio}}</h5>
            <h5 class="stock-producto">{{p.stock}}</h5>
            <button class="agregar-producto">COMPRAR</button>
            
        </div> 
    </div>
{% endfor %}
</div>

{% endblock %}