body {
    background-color: white;
    margin: 0;
}

.navbar {
    padding-inline: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 6rem;
    background: white;
    box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.4);
}

.logo {
    width: 4rem;
    height: 4rem;
}

.item,
a {
    display: inline-block;
    margin-inline: .5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    text-decoration: none;
    color: black;
    text-transform: capitalize;
}

.main-content {
    z-index: 3;
    margin-inline: 5%;
    margin-block: 4rem;
}

footer {
    background: white;
    z-index: 5;
    padding-block: 2.5rem;
    box-shadow: 0px 5px 30px 11px rgba(0, 0, 0, 0.35);
    padding-inline: 5%;
    margin: auto auto 0 auto;
    bottom: 0;
}

.footer-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-text {
    width: 60%;
}

p {
    font-family: 'Poppins', sans-serif;
}

.footer-links {
    margin-right: 5rem;
}




.catalogo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5rem;
}
.contenedor-producto{
    border-radius: 2rem;
    margin-inline: 1rem;
    margin-block: 1rem;
    transition: all .2s;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.contenedor-producto:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.img-producto{
    border-radius: 2rem 2rem 0 0;
    width: 15rem;
}
.descripcion-producto{
    padding: 1.5rem 1.5rem 0 1.5rem ;
}
.tipo-producto{
    margin: 0;
    font-weight: 300;
}
.title-producto{
    margin: 0;
    font-weight: 700;
}
.precio-producto{
    margin-block: .5rem;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: end;
}
.precio-producto::before{
    content: "$ ";
}
.stock-producto{
    margin: 0;
    font-weight: 300;
    text-align: end;
}
.stock-producto::before{
    content: "Unidades en stock: ";
    color: rgb(61, 61, 61);
}
.agregar-producto{
    background: white;
    color: black;
    font-weight: 700;
    width: 125%;
    height: 2rem;
    text-align: center;
    margin-inline: -1.5rem;
    margin-top: .6rem;
    border-radius: 0 0 2rem 2rem;
    border:none;
    -webkit-box-shadow: inset rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-shadow: inset rgba(0, 0, 0, 0.05) 0px 5px 15px;
    transition: all .2s;
}
.agregar-producto:hover{
    
    background: rgb(61, 61, 61);
    font-weight: 300;
    color: white;
}